
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            @await Component.InvokeAsync("_FeaturePartialComponent")
            @await Component.InvokeAsync("_FeatureStatisticPartialComponent")
        </div>
    </div>
</div>