<div class="col-lg-6">
    <div class="rounded overflow-hidden">
        <div class="row g-0">
            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="text-center bg-primary py-5 px-4">
                    <img class="img-fluid mb-4" src="~/dairy/img/experience.png" alt="">
                    <h1 class="display-6 text-white" data-toggle="counter-up">10</h1>
                    <span class="fs-5 fw-semi-bold text-secondary">Yıllık Tecrübe</span>
                </div>
            </div>
            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                <div class="text-center bg-secondary py-5 px-4">
                    <img class="img-fluid mb-4" src="~/dairy/img/award.png" alt="">
                    <h1 class="display-6" data-toggle="counter-up">6</h1>
                    <span class="fs-5 fw-semi-bold text-primary">Sunulan Ürün</span>
                </div>
            </div>
            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="text-center bg-secondary py-5 px-4">
                    <img class="img-fluid mb-4" src="~/dairy/img/animal.png" alt="">
                    <h1 class="display-6" data-toggle="counter-up">5</h1>
                    <span class="fs-5 fw-semi-bold text-primary">Kategori</span>
                </div>
            </div>
            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.7s">
                <div class="text-center bg-primary py-5 px-4">
                    <img class="img-fluid mb-4" src="~/dairy/img/client.png" alt="">
                    <h1 class="display-6 text-white" data-toggle="counter-up">3</h1>
                    <span class="fs-5 fw-semi-bold text-secondary">Sunulan Hizmet</span>
                </div>
            </div>
        </div>
    </div>
</div>
