<div class="col-lg-6">
    <div class="rounded overflow-hidden">
        <div class="row g-0">
            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="text-center bg-primary py-5 px-4">
                    <i class="fa-light fa-shop fa-2xl py-5" style="color: #FFD43B;"></i>
                    <h1 class="display-6 text-white" data-toggle="counter-up">@ViewBag.a</h1>
                    <span class="fs-5 fw-semi-bold text-secondary">Ürün Çeşidi</span>
                </div>
            </div>
            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                <div class="text-center bg-secondary py-5 px-4">
                    <i class="fa-light fa-list py-5 fa-2xl" style="color: #5b8c51;"></i>
                    <h1 class="display-6" data-toggle="counter-up">@ViewBag.b</h1>
                    <span class="fs-5 fw-semi-bold text-primary">Açılan Kategori</span>
                </div>
            </div>
            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="text-center bg-secondary py-5 px-4">
                    <i class="fa-light fa-photo-film fa-2xl py-5" style="color: #5b8c51;"></i>
                    <h1 class="display-6" data-toggle="counter-up">5</h1>
                    <span class="fs-5 fw-semi-bold text-primary">Anı Fotografı</span>
                </div>
            </div>
            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.7s">
                <div class="text-center bg-primary py-5 px-4">
                    <i class="fa-light fa-comment-smile py-5 fa-2xl" style="color: #FFD43B;"></i>
                    <h1 class="display-6 text-white" data-toggle="counter-up">@ViewBag.c</h1>
                    <span class="fs-5 fw-semi-bold text-secondary">Mutlu Müşteri</span>
                </div>
            </div>
        </div>
    </div>
</div>
