@model MilkyProject.WebUI.DTOS.CategoryDtos.CreateCategoryDto
@{
    Layout = null;
}

<form method="post" class="form-controler">
<div class="container">
    <br /><br />
    <label>Kategori Adı</label>
    <input type="text" asp-for="CategoryName" class="form-control"/>
    <br />
    </div>
    <button class="bbtn btn-outline-danger" >Ekle</button>
</form>
