@model List<MilkyProject.WebUI.DTOS.ResultCateogoryDto>
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br /><br />
    <table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach(var item in Model)
    {
        <tr>
            <td>@item.categoryID</td>
            <td>@item.name</td>
            <td><a href="/Category/DeleteCategory/@item.categoryID" class="btn btn-outline-danger">Sil</a></td>
                <td><a href="/Category/UpdateCategory/@item.categoryID" class="btn btn-outline-warning">Güncelle</a></td>
        </tr>
    }
</table>
<a href="#" class="btn btn-outline-success">Yeni Kategori</a>
</div>