@model List<MilkyProject.WebUI.DTOS.TestimonialDto.ResultTestimonialDto>

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="section-title bg-white text-center text-primary px-3">Gelen Yorumlar</p>
            <h1 class="mb-5">Kullanıcılar Bizler Hakkında Ne Söyledi</h1>
        </div>
        <div class="row g-5 align-items-center">
            <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="testimonial-img">
                    <img class="img-fluid animated pulse infinite" src="~/dairy/img/testimonial-1.jpg" alt="">
                    <img class="img-fluid animated pulse infinite" src="~/dairy/img/testimonial-2.jpg" alt="">
                    <img class="img-fluid animated pulse infinite" src="~/dairy/img/testimonial-3.jpg" alt="">
                    <img class="img-fluid animated pulse infinite" src="~/dairy/img/testimonial-4.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-7 wow fadeInUp" data-wow-delay="0.5s">
                <div class="owl-carousel testimonial-carousel">
                    @foreach(var item in Model)
                    {
                        <div class="testimonial-item">
                        <img class="img-fluid mb-3" src="@item.imageUrl" alt="">
                        <p class="fs-5">@item.description</p>
                        <h5>@item.nameSurname</h5>
                        <span class="text-primary">@item.title</span>
                    </div>
                    }
                    
                    
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>