
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Breeze Admin</title>
    <link rel="stylesheet" href="~/BreezeAdmin/template/assets/vendors/mdi/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="~/BreezeAdmin/template/assets/vendors/flag-icon-css/css/flag-icon.min.css" />
    <link rel="stylesheet" href="~/BreezeAdmin/template/assets/vendors/css/vendor.bundle.base.css" />
    <link rel="stylesheet" href="~/BreezeAdmin/template/assets/css/style.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css" />
    <link rel="shortcut icon" href="~/BreezeAdmin/template/assets/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
                <a class="sidebar-brand brand-logo" href="~/BreezeAdmin/template/index.html"><img src="~/BreezeAdmin/template/assets/images/logo.svg" alt="logo" /></a>
                <a class="sidebar-brand brand-logo-mini pl-4 pt-3" href="~/BreezeAdmin/template/index.html"><img src="~/BreezeAdmin/template/assets/images/logo-mini.svg" alt="logo" /></a>
            </div>
            <ul class="nav">
                <li class="nav-item nav-profile">
                    <a href="#" class="nav-link">
                        <div class="nav-profile-image">
                            <img src="~/BreezeAdmin/template/assets/images/faces/face1.jpg" alt="profile" />
                            <span class="login-status online"></span>
                            <!--change to offline or busy as needed-->
                        </div>
                        <div class="nav-profile-text d-flex flex-column pr-3">
                            <span class="font-weight-medium mb-2">Henry Klein</span>
                            <span class="font-weight-normal">$8,753.00</span>
                        </div>
                        <span class="badge badge-danger text-white ml-3 rounded">3</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/BreezeAdmin/template/index.html">
                        <i class="fa-light fa-eyes fa-xl" style="color: #423a8e;"></i> &nbsp;
                        <span class="menu-title">Siteyi Gör</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/BreezeAdmin/template/index.html">
                        <i class="fa-light fa-chart-pie fa-xl" style="color: #423a8e;"></i> &nbsp;
                        <span class="menu-title">İstatistik</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/About/AboutList/">
                        <i class="fa-light fa-address-book fa-xl" style="color: #423a8e;"></i> &nbsp;
                        <span class="menu-title">Hakkımızda</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/BreezeAdmin/template/index.html">
                        <i class="fa-light fa-image fa-xl" style="color: #423a8e;"></i> &nbsp;
                        <span class="menu-title">Galeri</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Service/ServiceList/">
                        <i class="fa-light fa-bell-concierge fa-xl" style="color: #423a8e;"></i> &nbsp;
                        <span class="menu-title">Servisler</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Team/TeamList/">
                        <i class="fa-light fa-cash-register fa-xl" style="color: #423a8e;"></i> &nbsp;
                        <span class="menu-title">Personel</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/BreezeAdmin/template/index.html">
                        <i class="fa-light fa-message-heart fa-xl" style="color: #423a8e;"></i> &nbsp;
                        <span class="menu-title">Yorumlar</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Carousel/CarouselList/">
                        <i class="fa-light fa-panorama fa-xl" style="color: #423a8e;"></i> &nbsp;
                        <span class="menu-title">Afişlerim</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Category/CategoryList/">
                        <i class="fa-light fa-layer-group fa-xl" style="color :#423a8e"></i> &ensp;
                        <span class="menu-title">Kategoriler</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Product/Index/">
                        <i class="fa-light fa-plate-utensils fa-xl" style="color: #423a8e;"></i> &nbsp;
                        <span class="menu-title">Ürünler</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Feature/FeatureList/">
                        <i class="fa-light fa-magnifying-glass fa-xl" style="color: #423a8e;"></i>&nbsp;
                        <span class="menu-title">Önizleme</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Feature/FeatureList/">
                        <i class="fa-light fa-right-from-bracket fa-xl" style="color: #423a8e;"></i>&nbsp;
                        <span class="menu-title">Çıkış Yap</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="container-fluid page-body-wrapper">
            
            @RenderBody()
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <script src="~/BreezeAdmin/template/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/BreezeAdmin/template/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="~/BreezeAdmin/template/assets/js/off-canvas.js"></script>
    <script src="~/BreezeAdmin/template/assets/js/hoverable-collapse.js"></script>
    <script src="~/BreezeAdmin/template/assets/js/misc.js"></script>
    <script src="~/BreezeAdmin/template/assets/js/chart.js"></script>
</body>
</html>