@model MilkyProject.WebUI.DTOS.ProductDto.CreateProduct
@{
    Layout = null;
}

<form method="post" class="form-controler">
    <div class="container">
        <br /><br />
        <label>Ürün Adı</label>
        <input type="text" asp-for="name" class="form-control" />
        <br />
        <label>Eski Fiyatı</label>
        <input type="text" asp-for="oldPrice" class="form-control" />
        <br />
        <label>Yeni Fiyat</label>
        <input type="text" asp-for="newPrice" class="form-control" />
        <br />
        <label>Resim Yolu</label>
        <input type="text" asp-for="imageUrl" class="form-control" />
        <br />
        <label>Durum</label>
        <input type="text" asp-for="status" class="form-control" />
        <br />
    </div>
    <button class="bbtn btn-outline-danger">Ekle</button>
</form>
