@model MilkyProject.WebUI.DTOS.ProductDto.UpdateProductDto

@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
           
            <p class="card-description">ÜRÜN GÜNCELLEME SAYFASI</p>
            <form class="forms-sample" method="post">

                <div class="form-group">
                    <label for="exampleInputName1">Başlık</label>
                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Kategori Adı" asp-for="name" />
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Resim</label>
                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Kategori Resim Bağlantısı" asp-for="oldPrice" />
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Resim</label>
                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Kategori Resim Bağlantısı" asp-for="newPrice" />
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Resim</label>
                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Kategori Resim Bağlantısı" asp-for="imageUrl" />
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Resim</label>
                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Kategori Resim Bağlantısı" asp-for="status" />
                </div>
                <button type="submit" class="btn btn-primary mr-2 btn-rounded"> Güncelle </button>
                <a href="/Product/Index" class="btn btn-outline-dark btn-rounded">Vazgeç</a>
            </form>
        </div>
    </div>
</div>
